body {
    margin-top: 20px;
    font-size: 1rem;
    background-color: #171717;
    color: #EDEDED;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    margin: 0;
}

main {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
}

.btn-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    width: min(90vmin, 500px);
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vmin;
}



.box {
    /* effect */
    width: 100%;
    aspect-ratio: 1/1;
    background-color: #444444;
    border-radius: 0.3rem;
    border: none;
    /* box-shadow: 0 0 0.7rem #DA0037; */
    font-size: 8vmin;
    color: #EDEDED;
    font-family: inherit;

    /* text postion*/
    display: flex;
    align-items: center;
    transition: 0.2s ease;
    justify-content: center;
}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #DA0037;
    color: #171717;
    border-radius: 0.5rem;
    border: none;
    font-family: inherit;
    font-size: small;
}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #09a523;
    color: #171717;
    border-radius: 0.5rem;
    border: none;
    font-family: inherit;
    font-size: small;
}

h1 {
    margin: 0;
}

.box.x {
    box-shadow: 0 0 1rem #0096FF;
}

.box.o {
    box-shadow: 0 0 1rem #DA0037;
}

@media (max-width: 600px) {

    h1 {
        font-size: 1.2rem;
    }

    .game {
        width: 75vmin;
        height: 75vmin;
    }

    .box {
        font-size: 10vmin;
    }

    .btn-container {
        flex-direction: column;
        gap: 1rem;
    }

    #reset-btn,
    #new-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
    }

}